In [1]:
import pandas as pd

# Load Data

In [2]:
inflation_yoy_df = pd.read_excel("data/tingkat_inflasi_tahun_ke_tahun_02092022.xlsx", skiprows=2, skipfooter=5)

In [3]:
inflation_yoy_df

,Bulan,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Januari,17.03,6.26,7.36,9.17,3.72,7.02,3.65,4.57,8.22,6.96,4.14,3.49,3.25,2.82,2.68,1.55,2.18
1,Februari,17.92,6.30,7.40,8.60,3.81,6.84,3.56,5.31,7.75,6.29,4.42,3.83,3.18,2.57,2.98,1.38,2.06
2,Maret,15.74,6.52,8.17,7.92,3.43,6.65,3.97,5.90,7.32,6.38,4.45,3.61,3.40,2.48,2.96,1.37,2.64
3,April,15.40,6.29,8.96,7.31,3.91,6.16,4.50,5.57,7.25,6.79,3.60,4.17,3.41,2.83,2.67,1.42,3.47
4,Mei,15.60,6.01,10.38,6.04,4.16,5.98,4.45,5.47,7.32,7.15,3.33,4.33,3.23,3.32,2.19,1.68,3.55
5,Juni,15.53,5.77,11.03,3.65,5.05,5.54,4.53,5.90,6.70,7.26,3.45,4.37,3.12,3.28,1.96,1.33,4.35
6,Juli,15.15,6.06,11.90,2.71,6.22,4.61,4.56,8.61,4.53,7.26,3.21,3.88,3.18,3.32,1.54,1.52,4.94
7,Agustus,14.90,6.51,11.85,2.75,6.44,4.79,4.58,8.79,3.99,7.18,2.79,3.82,3.20,3.49,1.32,1.59,4.69
8,September,14.55,6.95,12.14,2.83,5.80,4.61,4.31,8.40,4.53,6.83,3.07,3.72,2.88,3.39,1.42,1.60,NaN
9,Oktober,6.29,6.88,11.77,2.57,5.67,4.42,4.61,8.32,4.83,6.25,3.31,3.58,3.16,3.13,1.44,1.66,NaN
10,November,5.27,6.71,11.68,2.41,6.33,4.15,4.32,8.37,6.23,4.89,3.58,3.30,3.23,3.00,1.59,1.75,NaN
11,Desember,6.60,6.59,11.06,2.78,6.96,3.79,4.30,8.38,8.36,3.35,3.02,3.61,3.13,2.72,1.68,1.87,NaN

# Preprocess Data

## BPS Data